In [1]:
from scipy.integrate import quad

In [2]:
def integrateFunction(x):
    return x

In [3]:
quad(integrateFunction, 0, 1)

(0.5, 5.551115123125783e-15)

In [4]:
def integrateFn(x, a, b):
    return x*a+b

In [5]:
a=3
b=2

In [6]:
quad(integrateFn, 0, 1, args=(a,b))

(3.5, 3.885780586188048e-14)

In [7]:
import scipy.integrate as integrate

In [8]:
def f(x,y):
    return x+y
integrate.dblquad(f, 0, 1,lambda x: 0, lambda x: 2)

(3.0, 4.436070580899685e-14)

In [9]:
import numpy as np
from scipy import optimize

In [10]:
def f(x):
    return x**2 + 5*np.sin(x)

In [11]:
minimaValue = optimize.minimize(f, x0=2, method='bfgs', options={'disp':True})

Optimization terminated successfully.
         Current function value: -3.246394
         Iterations: 5
         Function evaluations: 18
         Gradient evaluations: 9

In [12]:
minimaValueWithoutOpt = optimize.minimize(f,x0=2,method='bfgs')

In [13]:
minimaValueWithoutOpt

      fun: -3.2463942726915196
 hess_inv: array([[0.15445831]])
      jac: array([-4.47034836e-07])
  message: 'Optimization terminated successfully.'
     nfev: 18
      nit: 5
     njev: 9
   status: 0
  success: True
        x: array([-1.11051058])

In [14]:
import numpy as np
from scipy import linalg

In [15]:
test_rating_data = np.array([ [5,8], [7,9] ] )
eigenValues, eigenVectors = linalg.eig(test_rating_data)
first_eigen, second_eigen = eigenValues

In [16]:
print(first_eigen, second_eigen)

(-0.745966692414834+0j) (14.745966692414834+0j)

In [17]:
print(eigenVectors[:,0])

[-0.81220939  0.58336601]

In [18]:
eigenVectors

array([[-0.81220939, -0.63447346],
       [ 0.58336601, -0.77294465]])

In [19]:
print(eigenVectors[:,1])

[-0.63447346 -0.77294465]

In [20]:
import pandas as pd
olympic_series_participation = pd.Series([205,204,201,200,197], index= [2012,2008,2004,2000,1996])
olympic_series_country = pd.Series(['Lodon', 'Beijig','Athens', 'Sydney', 'Atlanta'],index= [2012,2008,2004,2000,1996])

In [21]:
df_olympic_series = pd.DataFrame({'No. of participanting Countries': olympic_series_participation,
                                  'Host Cities': olympic_series_country})

In [23]:
df_olympic_series

      No. of participanting Countries Host Cities
2012                              205       Lodon
2008                              204      Beijig
2004                              201      Athens
2000                              200      Sydney
1996                              197     Atlanta

In [24]:
df_from_df = pd.DataFrame(df_olympic_series)

In [25]:
df_from_df

      No. of participanting Countries Host Cities
2012                              205       Lodon
2008                              204      Beijig
2004                              201      Athens
2000                              200      Sydney
1996                              197     Atlanta

ModuleNotFoundError: No module named 'sklearn'