<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 02: Evaluate the Summer Olympics, London 2012 dataset

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: View and add the dataset

In [1]:
#Import the necessary library
import numpy as np

In [2]:
#Manually add the Summer Olympics, London 2012 dataset as arrays
medal_tally = np.array([['Great Britain', 'GBR', 2012, 29, 17, 19],
                        ['China', 'CHN', 2012, 38, 28, 22],
                        ['Russia', 'RUS', 2012, 24, 25, 32],
                        ['United States', 'US', 2012, 46, 28, 29],
                        ['Korea', 'KOR', 2012, 13, 8, 7],
                        ['Japan', 'JPN', 2012, 7, 14, 17],
                        ['Germany', 'GER', 2012, 11, 11, 14]
                       ])
country_name = np.array(['Great Britain', 'China', 'Russia', 'United States', 'Korea', 'Japan', 'Germany'])
country_code = np.array(['GBR', 'CHN', 'RUS', 'US', 'KOR', 'JPN', 'GER'])
gold_list    = np.array([ 29, 38, 24, 46, 13, 7, 11 ])
silver_list  = np.array([ 17, 28, 25, 28, 8, 14, 11 ])
bronze_list  = np.array([ 19, 22, 32, 29, 7, 17, 14 ])
print(medal_tally)

[['Great Britain' 'GBR' '2012' '29' '17' '19']
 ['China' 'CHN' '2012' '38' '28' '22']
 ['Russia' 'RUS' '2012' '24' '25' '32']
 ['United States' 'US' '2012' '46' '28' '29']
 ['Korea' 'KOR' '2012' '13' '8' '7']
 ['Japan' 'JPN' '2012' '7' '14' '17']
 ['Germany' 'GER' '2012' '11' '11' '14']]

#### Find the country with maximum gold medals

In [3]:
#Use the argmax() method to find the highest number of gold medals
max_gold_index = gold_list.argmax()
print(max_gold_index)
max_gold_no = gold_list[max_gold_index]
print(max_gold_no)

3
46

In [4]:
#Print the name of the country
max_gold_country = country_name[max_gold_index]
print('Country with highest no. of Gold medal is: ', max_gold_country)

Country with highest no. of Gold medal is:  United States

#### Find the countries with more than 20 gold medals

In [5]:
#Use Boolean indexing technique to find the required output
gold_morethan_20_boolindex = gold_list>20
country_gold_morethan_20 = country_name[gold_morethan_20_boolindex == True]
print(country_gold_morethan_20)

['Great Britain' 'China' 'Russia' 'United States']

#### Evaluate the dataset and print the name of each country with its gold medals and total number of medals

In [6]:
#Use a for loop to create the required output
for i in range(len(country_name)):
    country = country_name[i]
    gold = gold_list[i]
    total = gold_list[i] + silver_list[i] + bronze_list[i] 
    print(country,': Gold =', gold, ', Total = ', total)

Great Britain : Gold = 29 , Total =  65
China : Gold = 38 , Total =  88
Russia : Gold = 24 , Total =  81
United States : Gold = 46 , Total =  103
Korea : Gold = 13 , Total =  28
Japan : Gold = 7 , Total =  38
Germany : Gold = 11 , Total =  36